<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suns.lottery.tball.mapper.DltMapper" >
  <resultMap id="BaseResultMap" type="com.suns.lottery.tball.bean.Ssq" >
      <result column="id" jdbcType="INTEGER" javaType="java.lang.Integer" property="id"/>
      <result column="code" jdbcType="VARCHAR" javaType="java.lang.String" property="code"/>
      <result column="r1" jdbcType="INTEGER" javaType="java.lang.Integer" property="r1"/>
      <result column="r2" jdbcType="INTEGER" javaType="java.lang.Integer" property="r2"/>
      <result column="r3" jdbcType="INTEGER" javaType="java.lang.Integer" property="r3"/>
      <result column="r4" jdbcType="INTEGER" javaType="java.lang.Integer" property="r4"/>
      <result column="r5" jdbcType="INTEGER" javaType="java.lang.Integer" property="r5"/>
      <result column="b1" jdbcType="INTEGER" javaType="java.lang.Integer" property="b1"/>
      <result column="b2" jdbcType="INTEGER" javaType="java.lang.Integer" property="b2"/>
      <result column="sales" jdbcType="INTEGER" javaType="java.lang.Integer" property="sales"/>
      <result column="poolmoney" jdbcType="INTEGER" javaType="java.lang.Integer" property="poolmoney"/>
      <result column="content" jdbcType="VARCHAR" javaType="java.lang.String" property="content"/>
      <result column="type1_num" jdbcType="INTEGER" javaType="java.lang.Integer" property="type1Num"/>
      <result column="type1_money" jdbcType="INTEGER" javaType="java.lang.Integer" property="type1Money"/>
      <result column="type2_num" jdbcType="INTEGER" javaType="java.lang.Integer" property="type2Num"/>
      <result column="type2_money" jdbcType="INTEGER" javaType="java.lang.Integer" property="type2Money"/>
      <result column="type3_num" jdbcType="INTEGER" javaType="java.lang.Integer" property="type3Num"/>
      <result column="type3_money" jdbcType="INTEGER" javaType="java.lang.Integer" property="type3Money"/>
      <result column="lottery_date" jdbcType="DATE" javaType="java.util.Date" property="lotteryDate"/>
    <result column="lottery_timestamp" jdbcType="VARCHAR" javaType="java.lang.String" property="lotteryTimestamp"/>
    <result column="seq" jdbcType="INTEGER" javaType="java.lang.Integer" property="seq"/>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dlt
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.suns.lottery.tball.bean.Ssq" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into dlt (code, r1, r2,
      r3, r4, r5,
      b1, b2, sales, poolmoney, 
      content, type1_num, type1_money, 
      type2_num, type2_money, type3_num, 
      type3_money, lottery_date,lottery_timestamp,seq)
    values (#{code,jdbcType=VARCHAR}, #{r1,jdbcType=INTEGER}, #{r2,jdbcType=INTEGER},
      #{r3,jdbcType=INTEGER}, #{r4,jdbcType=INTEGER}, #{r5,jdbcType=INTEGER},
      #{b1,jdbcType=INTEGER}, #{b2,jdbcType=INTEGER}, #{sales,jdbcType=VARCHAR}, #{poolmoney,jdbcType=VARCHAR},
      #{content,jdbcType=VARCHAR}, #{type1Num,jdbcType=INTEGER}, #{type1Money,jdbcType=INTEGER},
      #{type2Num,jdbcType=INTEGER}, #{type2Money,jdbcType=INTEGER}, #{type3Num,jdbcType=INTEGER},
      #{type3Money,jdbcType=INTEGER}, #{lotteryDate,jdbcType=DATE},#{lotteryTimestamp,jdbcType=VARCHAR},#{seq,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.suns.lottery.tball.bean.Ssq" >
    update dlt
    set code = #{code,jdbcType=VARCHAR},
      r1 = #{r1,jdbcType=INTEGER},
      r2 = #{r2,jdbcType=INTEGER},
      r3 = #{r3,jdbcType=INTEGER},
      r4 = #{r4,jdbcType=INTEGER},
      r5 = #{r5,jdbcType=INTEGER},
      b1 = #{b1,jdbcType=INTEGER},
      b2 = #{b2,jdbcType=INTEGER},
      sales = #{sales,jdbcType=VARCHAR},
      poolmoney = #{poolmoney,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      type1_num = #{type1Num,jdbcType=INTEGER},
      type1_money = #{type1Money,jdbcType=INTEGER},
      type2_num = #{type2Num,jdbcType=INTEGER},
      type2_money = #{type2Money,jdbcType=INTEGER},
      type3_num = #{type3Num,jdbcType=INTEGER},
      type3_money = #{type3Money,jdbcType=INTEGER},
      lottery_date = #{lotteryDate,jdbcType=DATE},
      lottery_timestamp = #{lotteryTimestamp,jdbcType=VARCHAR},
      seq = #{seq,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, code, r1, r2, r3, r4, r5, b1, b2, sales, poolmoney, content, type1_num,
    type1_money, type2_num, type2_money, type3_num, type3_money, lottery_date,lottery_timestamp,seq
    from dlt
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, code, r1, r2, r3, r4, r5, b1, b2, sales, poolmoney, content, type1_num,
    type1_money, type2_num, type2_money, type3_num, type3_money, lottery_date,lottery_timestamp,seq
    from dlt
  </select>
  <insert id="batchInsert" parameterType="java.util.List" >
    <selectKey resultType ="java.lang.Integer" keyProperty= "id"
               order= "AFTER">
      SELECT LAST_INSERT_ID()
    </selectKey >
    insert into dlt (code, r1, r2,
    r3, r4, r5,
    b1, b2, sales, poolmoney,
    content, type1_num, type1_money,
    type2_num, type2_money, type3_num,
    type3_money, lottery_date,lottery_timestamp,seq)
    values
    <foreach collection ="list" item="item" index= "index" separator =",">
      (#{item.code,jdbcType=VARCHAR}, #{item.r1,jdbcType=INTEGER}, #{item.r2,jdbcType=INTEGER},
      #{item.r3,jdbcType=INTEGER}, #{item.r4,jdbcType=INTEGER}, #{item.r5,jdbcType=INTEGER},
      #{item.b1,jdbcType=INTEGER}, #{item.b2,jdbcType=INTEGER}, #{item.sales,jdbcType=INTEGER}, #{item.poolmoney,jdbcType=INTEGER},
      #{item.content,jdbcType=VARCHAR}, #{item.type1Num,jdbcType=INTEGER}, #{item.type1Money,jdbcType=INTEGER},
      #{item.type2Num,jdbcType=INTEGER}, #{item.type2Money,jdbcType=INTEGER}, #{item.type3Num,jdbcType=INTEGER},
      #{item.type3Money,jdbcType=INTEGER}, #{item.lotteryDate,jdbcType=DATE},#{item.lotteryTimestamp,jdbcType=VARCHAR},#{item.seq,jdbcType=INTEGER})
    </foreach >


  </insert>

  <select id="countByRedNum" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select count(*) from dlt where r1=#{0} or r2=#{0} or r3=#{0} or r4=#{0} or r5=#{0}
  </select>
  <select id="countByBlue1Num" resultType="java.lang.Integer">
    SELECT t.b1 FROM (select COUNT(*) cnt,b1 from dlt group by b1) t ORDER BY t.cnt ${sort}
  </select>

  <select id="countByBlue2Num" resultType="java.lang.Integer">
    SELECT t.b2 FROM (select COUNT(*) cnt,b2 from dlt group by b2) t ORDER BY t.cnt ${sort}
  </select>

  <select id="groupByBlueNum" resultType="java.util.Map">
    select b1 ball,COUNT(*) cnt from dlt group by b1
  </select>

  <select id="exists" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select count(*) from dlt where r1=#{r1} and r2=#{r2} and r3=#{r3} and r4=#{r4} and r5=#{r5}
  </select>

  <select id="history" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, code, r1, r2, r3, r4, r5, b1, b2, sales, poolmoney, content, type1_num,
    type1_money, type2_num, type2_money, type3_num, type3_money, lottery_date
     from dlt order by code desc limit #{0}
  </select>

  <select id="countByCode" parameterType="java.lang.String" resultType="java.lang.Integer">
    select count(*) from dlt where code = #{code}
  </select>

</mapper>