<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suns.lottery.tball.mapper.LotteryMapper" >
  <resultMap id="BaseResultMap" type="com.suns.lottery.tball.bean.Lottery" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="r1" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="r2" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="r3" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="r4" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="r5" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="r6" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="b1" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="b2" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="sales" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="poolmoney" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="content" jdbcType="VARCHAR" javaType="java.lang.Integer" />
      <arg column="type1_num" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="type1_money" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="type2_num" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="type2_money" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="type3_num" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="type3_money" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="lottery_date" jdbcType="DATE" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from lottery
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.suns.lottery.tball.bean.Lottery" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into lottery (code, r1, r2, 
      r3, r4, r5, r6, 
      b1, b2, sales, poolmoney, 
      content, type1_num, type1_money, 
      type2_num, type2_money, type3_num, 
      type3_money, lottery_date)
    values (#{code,jdbcType=VARCHAR}, #{r1,jdbcType=VARCHAR}, #{r2,jdbcType=VARCHAR}, 
      #{r3,jdbcType=VARCHAR}, #{r4,jdbcType=VARCHAR}, #{r5,jdbcType=VARCHAR}, #{r6,jdbcType=VARCHAR}, 
      #{b1,jdbcType=VARCHAR}, #{b2,jdbcType=VARCHAR}, #{sales,jdbcType=VARCHAR}, #{poolmoney,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{type1Num,jdbcType=VARCHAR}, #{type1Money,jdbcType=VARCHAR}, 
      #{type2Num,jdbcType=VARCHAR}, #{type2Money,jdbcType=VARCHAR}, #{type3Num,jdbcType=VARCHAR}, 
      #{type3Money,jdbcType=VARCHAR}, #{lotteryDate,jdbcType=DATE})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.suns.lottery.tball.bean.Lottery" >
    update lottery
    set code = #{code,jdbcType=VARCHAR},
      r1 = #{r1,jdbcType=VARCHAR},
      r2 = #{r2,jdbcType=VARCHAR},
      r3 = #{r3,jdbcType=VARCHAR},
      r4 = #{r4,jdbcType=VARCHAR},
      r5 = #{r5,jdbcType=VARCHAR},
      r6 = #{r6,jdbcType=VARCHAR},
      b1 = #{b1,jdbcType=VARCHAR},
      b2 = #{b2,jdbcType=VARCHAR},
      sales = #{sales,jdbcType=VARCHAR},
      poolmoney = #{poolmoney,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      type1_num = #{type1Num,jdbcType=VARCHAR},
      type1_money = #{type1Money,jdbcType=VARCHAR},
      type2_num = #{type2Num,jdbcType=VARCHAR},
      type2_money = #{type2Money,jdbcType=VARCHAR},
      type3_num = #{type3Num,jdbcType=VARCHAR},
      type3_money = #{type3Money,jdbcType=VARCHAR},
      lottery_date = #{lotteryDate,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, code, r1, r2, r3, r4, r5, r6, b1, b2, sales, poolmoney, content, type1_num, 
    type1_money, type2_num, type2_money, type3_num, type3_money, lottery_date
    from lottery
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, code, r1, r2, r3, r4, r5, r6, b1, b2, sales, poolmoney, content, type1_num, 
    type1_money, type2_num, type2_money, type3_num, type3_money, lottery_date
    from lottery
  </select>
  <insert id="batchInsert" parameterType="java.util.List" >
    <selectKey resultType ="java.lang.Integer" keyProperty= "id"
               order= "AFTER">
      SELECT LAST_INSERT_ID()
    </selectKey >
    insert into lottery (code, r1, r2,
    r3, r4, r5, r6,
    b1, b2, sales, poolmoney,
    content, type1_num, type1_money,
    type2_num, type2_money, type3_num,
    type3_money, lottery_date)
    values
    <foreach collection ="list" item="item" index= "index" separator =",">
      (#{item.code,jdbcType=VARCHAR}, #{item.r1,jdbcType=INTEGER}, #{item.r2,jdbcType=INTEGER},
      #{item.r3,jdbcType=INTEGER}, #{item.r4,jdbcType=INTEGER}, #{item.r5,jdbcType=INTEGER}, #{item.r6,jdbcType=INTEGER},
      #{item.b1,jdbcType=INTEGER}, #{item.b2,jdbcType=INTEGER}, #{item.sales,jdbcType=INTEGER}, #{item.poolmoney,jdbcType=INTEGER},
      #{item.content,jdbcType=VARCHAR}, #{item.type1Num,jdbcType=INTEGER}, #{item.type1Money,jdbcType=INTEGER},
      #{item.type2Num,jdbcType=INTEGER}, #{item.type2Money,jdbcType=INTEGER}, #{item.type3Num,jdbcType=INTEGER},
      #{item.type3Money,jdbcType=INTEGER}, #{item.lotteryDate,jdbcType=DATE})
    </foreach >


  </insert>
</mapper>